[package]
name = "prediction-market"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
soroban-sdk = "23.0"

[lib]
crate-type = ["cdylib"]

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
